body {
  background: #F96;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF5E62, #F96);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF5E62, #F96); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-sizing: border-box;
  color: white;
  font-family: 'IBM Plex Serif', serif;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
}

.about-us {
  flex: 7;
}

.sidebar {
  flex: 3;
}
