body {
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.contenedor {
  border: 3px solid green;
  margin: 0 auto;
  max-width: 1100px;
}

h2 {
  flex: 0 1 100%;
}

img {
  max-width: 100%;
}

@media screen and (min-width:480px) {
  .contenido-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .entrada {
    flex: 0 1 calc(50% - 1rem);
  }
}

@media screen and (min-width:768px) {
  .entrada {
    flex: 0 1 calc(33% - 1rem);
  }
}
