section {
  background-color: $color-lightgrey;
  background-color: blue;
  @include max-width;
  @include respond-to(800px) {
    background-color: red;
  };
  padding: $padding;
}

.max-width--huge {
  @include max-width(1200px);
}

header {
  background-color: $color-brand;
}
